@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  reset 추가
*/
html, body {
  height: 100%;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

ol::after,
ul::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  background-color: #fff;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.wrap .inner_section {
  position: relative;
  font-size: 0;
}

.wrap.wrap_bg {
  background-color: rgba(0, 0, 204, 0.1);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.main_content {
  position: absolute;
  width: 72.6041666667%;
  left: 27.3958333333%;
  height: 100vh;
  vertical-align: top;
  transition: all 0.6s cubic-bezier(0.15, 0.005, 0.155, 1);
}

.main_content.wide {
  width: 100%;
  left: 0;
}

.main_content.wide .content_wrap {
  padding: 0 3%;
}

.main_content.wide .pagination_wrap {
  left: -100%;
}

.main_content.work_main_content {
  width: 100%;
}

.main_content.work_main_content .content_wrap {
  padding: 4%;
}

.main_content.work_main_content .content_wrap .work_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.main_content.work_main_content .content_wrap .work_wrap .work_image {
  transform: scale(1);
}

.content_wrap {
  margin: 3% 0;
  height: 92%;
  box-sizing: border-box;
  box-shadow: 20px 34.6px 40px 0 rgba(0, 0, 0, 0.35);
}

.content_wrap .btn_work_link {
  display: block;
  height: 100%;
}

.content_wrap .work_image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transform: scale(1.2);
  transition: all 0.8s cubic-bezier(0.37, 0.045, 0.105, 0.8);
}

.content_wrap .work_image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content_wrap .work_info {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  opacity: 1;
}

.content_wrap .work_info dl dt {
  margin-bottom: 0.5vw;
  color: #fff;
  font-size: 0.72vw;
  font-weight: 700;
}

.content_wrap .work_info dl dd {
  margin-bottom: 1.5vw;
  color: #fff;
  font-size: 1vw;
  font-weight: 300;
}

.content_wrap .work_info.fadeout {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.15, 0.005, 0.155, 1);
}

.content_wrap .btn_home {
  position: absolute;
  top: 2vw;
  right: 2vw;
  width: 4.16vw;
  height: 4.16vw;
  border-radius: 100%;
  background: #fff url(../images/icon_close.png) no-repeat center/1.5vw;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.content_wrap .icon_scroll {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  width: 2.9vw;
  height: 1.5vw;
  background: url(../images/icon_arrow.png) no-repeat center/100%;
}

.work_title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 120px;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.btn_work_detail {
  opacity: 0;
}

.work_intro {
  position: relative;
  margin: 6vh;
  height: 88vh;
  /*width: calc(100% - 6%);
  height: calc(100% / 1.1);*/
  box-shadow: 20px 34.6px 40px 0 rgba(0, 0, 0, 0.35);
}

.work_intro::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.work_intro .work_image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.work_intro .btn_link_main {
  position: fixed;
  right: 6.2vw;
  width: 4.1vw;
  height: 4.1vw;
  opacity: 0;
  background: #fff url(../images/icon_close.png) no-repeat center/40%;
  border-radius: 2vw;
  z-index: 9999;
  animation: showCloseBtn .5s ease-in-out forwards;
}

@keyframes showCloseBtn {
  0% {
    top: 5vw;
    opacity: 0;
  }
  100% {
    top: 6.2vw;
    opacity: 1;
  }
}

.work_content {
  position: relative;
  width: 100% !important;
  left: auto;
}

.work_content .work_inner {
  padding: 0;
  margin-top: 0;
}

.work_content .work_inner.bg_inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.work_inner_wrap {
  display: flex;
  height: 100%;
}

.work_inner_wrap.row.right {
  margin: 0;
  flex-direction: row;
}

.work_inner_wrap.row.left {
  margin: 0;
  flex-direction: row-reverse;
}

.work_inner_wrap.row.center {
  margin: 0;
  align-content: center;
  justify-content: center;
}

.work_inner {
  font-weight: 500;
  line-height: 1.35;
}

.work_inner .header {
}

.work_inner .work_title {
  font-size: 2.0vw;
  color: #000;
}

.work_inner .sub_title {
  color: #3377ff;
}

.work_inner .work_desc {
  font-size: 0.8vw;
  line-height: 1.75;
  color: #000;
}

.work_inner .work_desc + .work_desc {
  padding-top: 2.6vw;
}

.work_inner .work_text {
  position: relative;
  width: 48%;
  height: 100%;
  box-sizing: border-box;
}

.work_inner .main_image {
  width: 1080px; 
  padding: 80px 0 120px 0;
}

#work01 .work_text.header h2 {
  color: #ffb2cc;
  padding-top: 160px;
  margin-top: 200px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#work01 .work_text.header h1 {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

/* work slider 컨테이너 */
#work01.work_slider {   
}

#work01.work_slider .slider_title { 
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center
}

#work01.work_slider .slider_title .date {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 16px;
}

#work01 .slider_wrapper {
  position: relative;
  width: 100%;
}

#work01 .swiper-container {
  margin: 0 auto 40px;
  max-width: 1080px;
  height: 694px;
}


#work01 .swiper-container img {
  width: 100%;
}

#work01  .swiper-button-next,
#work01  .swiper-button-prev{
  width: 30px;
  height: 56px;
  top: 50%;
}

/* 버튼 위치랑 크기 여기서 */
#work01 .swiper-button-next {
  background: url(../images/icon_arrow.png) no-repeat center/100%;
  transform: translateY(-50%) rotate(-90deg);
  right: 2%;
}

#work01 .swiper-button-prev {
  background: url(../images/icon_arrow.png) no-repeat center/100%;
  transform: translateY(-50%) rotate(90deg);
  left: 2%;
}

#work01 .slider_text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  padding-top: 0px
}