
body{
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    background-color: #fff;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    .inner_section{
        position: relative;
        font-size: 0; 
    }
    &.wrap_bg {
        background-color: rgba(0, 0, 204, 0.1);;
    }
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}