// font_size
$font_size14 : 0.72vw;
$font_size20 : 1.0vw; 


//color
$color_sub: #fff;
$color_main: #000;
$color_em : #3377ff;//강조색
$color_bg : rgba(0, 0, 204, 0.1);
$color_sub_bg: rgba(0, 204, 204, 0.1);
