// 포폴 프론트 css

// header
.main_header{
    position: absolute;
    left: 0;
    top: 0;
    width: 25.7291666667%;
    height: 100vh;
    vertical-align: top;
    transition: all 0.6s cubic-bezier(0.15, 0.005, 0.155, 1);
    &.wide {
        //width: 0;
        opacity: 0;
        visibility: hidden;
    }
    .header_wrap{
        position: relative;
        left: 0;
        margin-top: 30px;
        padding:4% 0 4% 10%;
        opacity: 1;
        height: calc(100% - 30px);
        box-sizing: border-box;
        &.fadeout { 
            opacity: 0;
            left: -100%;
            transition: all 0.4s cubic-bezier(0.15, 0.005, 0.155, 1)
        }
    }
    .header_title{
        h2{
            margin-top: 2vw;
            font-size: 1.25vw;
            color: #0055ff;
        }
        h1{
            color: $color_main;
            font-size: 4.1vw;
        }
    }
    .header_nav{
        position: absolute;
        bottom: 4%;
        left: 10%;
        ul{
            li{
                margin-bottom: 1.5vw;
                a span{
                    color: $color_main;
                    font-size: $font_size14;
                    font-weight: 300;
                    text-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.1);
                }
                &.active span{
                    font-weight: 700;
              }   
            }
        }
    }
}
 
// content
    //slider
    .content_slider{
        width: 100%;
        height: 100%;
        .content_work{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &:hover{
                .work_image{
                    transform: scale(1);
                }
            }
            .btn_work_detail{
                padding: 1.0vw;
                max-width: 10.4vw;
                width: 100%;
                position: absolute;
                top:65%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                border-radius: 1.56vw;
                border:2px solid $color_sub;
                opacity: 1;
                overflow: hidden;
                span{
                    position: relative;
                    color: $color_sub;
                    font-size: $font_size20;
                    z-index: 1;
                    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
                    i{
                        padding-left: 1.0vw;
                    }
                }
                &::before { 
                    content: '';
                    position: absolute;
                    width: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    background-color: #fff;
                    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
                }

                &.fadeout { 
                    opacity: 0;
                    transition: all 0.4s cubic-bezier(0.15, 0.005, 0.155, 1)
                }

                &:hover { 
                    &::before { 
                        width: 100%;
                    }
                    span{
                        color: $color_main;
                    }
                }
            }
        }
    }
    .pagination_wrap{
        margin-bottom: 4%;
        position: absolute;
        left: 2.5vw;
        bottom: 2.5vw;
        width: 15.1vw;
        height: 7.65vw;
        max-height: 147px;
        transition: all 0.6s cubic-bezier(0.15, 0.005, 0.155, 1);
        z-index: 11;
        //transition-delay: 1s;
        .work_pagination {
            width: inherit;
            height: inherit;
            .swiper-pagination-bullet{
                display: none;
                position: absolute;
                top: -12px;
                left: 0;
                width: initial;
                height: initial;
                color: $color_sub;
                font-size: 10.416vw;
                font-weight: 500;
                &.swiper-pagination-bullet-active{
                    display: inline-block;
                    background:none;
                }
            }
        }
        .swiper_btn{
            margin:0;
            width: 2.9vw;
            height: 1.56vw;
            background:none;
            border:0;
            &.swiper-button-next{
                right: 0;
                left: initial;
                top: initial;
                bottom: 0;
                background:url(../images/icon_arrow.png) no-repeat center/100%;
            }
            &.swiper-button-prev{
                right: 0;
                left: initial;
                top: 0;
                bottom: initial;
                transform: rotate(180deg);
                background:url(../images/icon_arrow.png) no-repeat center/100%;
            }
        }
    
}