
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

    body { padding: 0; margin: 0; background-color:#3e434d;}

a {
    text-decoration: none;
}
.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

.title {
    height: 100vh;
    margin-top: 0;
    width: 100%;
    padding: 0;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.title_logo {
    position: absolute;
    width: 100px;
    height: auto;
    left: 30px;
    top: 20px;
    z-index: 1;
}
.title_text {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title_text p {
    margin:0 ;
    color: #ffffff;
    font-size: 36pt;
    line-height: 1.6;
    letter-spacing: -0.03em;
    font-weight: 400;
    text-align: center;
}
.title_content {
    width: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-top: 40px;
}
.title_btn {
    border: 2px solid #ffffff;
    padding: 10px 30px;
    width: 120px;
    border-radius: 6px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    transition: all 0.3s ease-out;
}
.title_btn svg {
    transition: all 0.3s ease-out;
}
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#D8D8D8;fill-opacity:0;}
.st0{fill:#FFFFFF;}

.title_btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.title_btn:hover svg {
    fill: #000000;
}

.title_btn_img {
    width: 24px;
    fill: #ffffff;
    height: auto;
    transition: all 0.3s ease-out;
}   
.title_btn_img:hover {
    fill: #000000;
}

.title_btn_text {
    line-height: 24px;
}

/* 공통 */
.content {
    padding: 120px 0;
    display: block;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
}
.bg-green {
    background-color: #3DCCBD
}
.bg-white {
    background-color: #ffffff
}
.bg-gray {
    background-color: #E6EAF2
}

/* content1 */
.text_main {
    display: block;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -0.05em;
}
.text_sub {
    display: block;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: -0.05em;
}

.content1_wrap img {
    width: 360px;
    height: auto;
    padding-top: 120px;
}

/* content2 */

.content2 h1, .content2 p {
    text-align: center;
}
.content2_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.content2_service {
    text-align: center;
}
.content2_service img {
    width: 140px;
    height: auto;
}
.service_text1 {    
    font-size: 18pt;
    font-weight: 300;
    padding: 20px 0 12px 0;
}

.service_text2 {
    font-weight: 300;
    color: #676F80;
    line-height: 1.5;
}
/* content3 */

.content3_wrap table{
    padding-top: 30px;
}

.content3 table {
     border-spacing: 0;
}

.content3_sub {
    font-size: 14pt;
}
.content3_list1 {
    display: flex;
    height: 20px;
    line-height: 20px;
    padding-bottom: 20px;
}

.content3_list2 {
    display: flex;
    height: 24px;
}

.list_title {
    padding: 0 0 0 6px;
    display: block;
    font-weight: 700;
    width: 80px;
}
.list_title1 {
    height: 112px;
}

.list_sub {
    padding: 0 0 0 60px;
    display: block;
    font-weight: 300;
}
.list_sub1 {
    line-height: 20px; 
    padding-top: 4px; 
    height: 84px; 
    font-size: 10pt
}

.img3_1 img {
    width: 20px;
    height: auto;
}

.img3_2 {
    width: 20px;
}

.img3_2 img {
    display: block;
    padding: 4px 2px 4px 2px;
    width: 16px;
    height: auto;
    height: auto;
}

.content3_img img {
    padding-top: 20px;
    width: 420px;
    height: auto;
}

/* content4 */
.driver-bg {
    background: url('/img/content4_bg1.jpg') no-repeat center center;
    color: #ffffff;
    text-align: left;
}

.wrapper4 {
    max-width: 900px;
    margin: 0 auto;
}
.content4_wrap {
    display: flex;
    justify-content: space-between;
}

.driver_sub {
    margin: 40px 0 ;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ffffff80;
    background-color: #ffffff10;
    font-size: 14pt;
    font-weight: 100;
}
.driver_sub li {
    text-align: left;
    width: 400px;
    line-height: 40px;
}


.driver_btn {
    display: flex;
    height: 40px;
    margin-top: 20px;
    padding: 12px 30px 12px 30px;
    background-color: #00B3A1;
    color: #ffffff;
    font-size: 14pt;
    line-height: 1.4;
    border-radius: 30px;
}
.driver_btn img {
    width: 30px;
    height: auto;
    padding-right: 12px;
}

.driver_btn div {
    line-height: 36px;
}
/* footer */
.footer {
    position: relative;
    background-color: #3e434d;
    color: #ffffff;
    padding: 60px 0 60px 0;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_logo {
    width: 120px;
    height: auto;
}
.footer_text0 {
    line-height: 1.6;
    font-size: 10pt;
    font-weight: 500;
}
.footer_text0 a {
    color: #ffffff;
}
.footer_text1 {
    padding: 30px 0 10px 0;
    line-height: 2;
    font-size: 11pt;
    font-weight: 300;
}
.footer_text2 {
    color: #b8becc;
    padding-top: 10px;
    font-size: 10pt;
    font-weight: 100;
    line-height: 1.6    ;
}
.footer_text1_m {
    display: none;
}
.footer_text2_m {
    display: none;
}

.footer_bar {
    color: #ffffff;
    opacity: 0.2;
}

.footer_sns {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    text-align: right;
    width: 100px;
    float: right;
    bottom: 40px;
}

/* mobile */
@media screen and (max-width: 900px) {

/* 공통 */
.wrapper {
}
.content {
    padding: 24vw 0 30vw 0;
}
.row {
    flex-direction: column;
}


.title_logo {
    width: 80px;
    height: auto;
}

.title_text p {
    font-size: 8vw;
}
.title_content {
    width: 60%;
    height: 36vw;
    padding-top: 10vw;
    font-size: 5vw;
    flex-direction: column;
}

.title_btn {
    border: 2px solid #ffffff;
    width: auto;
    padding: 3vw 10vw;
    border-radius: 1.4vw;
}

.title_btn svg {
    width: 8vw;
}
.title_btn_text {
    line-height: 8vw;
}

.text_main {
    font-size: 6vw;
    text-align: center;
}
.text_sub {
    width: 80%;
    margin: 0 auto;
    font-size: 4vw;
    text-align: center;
    word-break: keep-all;
}

.content1_wrap img {
    padding-top: 20vw;
    display: block;
    margin: 0 auto;
    width: 70%;
}

.content2_wrap {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
}
.content2_service {
    padding-top: 30vw;
}
.content2_service img {
    width: 50%;
}
.service_text1 {
    font-size: 5vw;
    padding: 1vw 0 1vw 0;
}
.service_text2 {
    font-size: 4vw;
}

.content3_wrap {
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.content3_wrap table {
    height: 56vw;
    padding-top: 10vw;
}
.img3_1 img {
    width: 5vw;
}
.img3_2 img {
    width: 4vw;
    padding: 1vw 0.5vw 1vw 0.5vw;
}
.list_title {
    font-size: 4vw;
    padding: 0 0 0 1vw;
    width: 16vw;
}
.list_title1 {
    height: 28vw;
}
.list_title div {
    width: 16vw;
}
.list_sub {
    font-size: 4vw;
    padding: 0 0 0 8vw;
}
.list_sub1 {
    line-height: 5vw; 
    padding-top: 4px; 
    height: 21vw; 
    font-size: 3.4vw
}
.content3_img img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 20vw;
}

.content4_wrap {
    flex-direction: column;
}

.driver_btn {
    margin: 10vw auto;
    font-size: 4vw;
    padding: 1vw 8vw 1vw 8vw;
    line-height: 5vw;
}
.driver_btn img {
    width: 5vw;
}
.driver_btn div {
}

.driver_sub {
    width: 70%;
    font-size: 3.4vw;
    padding: 4vw;
    flex-direction: column;
    margin: 0 auto;
}
.driver_sub ul {
    margin: 0;
    padding-left: 8vw;
}
.driver_sub li {
    line-height: 8vw;
    width: fit-content;
}

.footer {
    padding: 24vw 0 40vw 0;
}

.footer_wrap {
    width: 80%;
}
.footer_content {
    flex-direction: column;
}
.footer_logo {
    width: 30vw;
    padding-bottom: 6vw;
}
.footer_text0 {
    font-size: 3vw;
}

.footer_text1 {
    display: none;
}
.footer_text2 {
    display: none;
}

.footer_text1_m {
    display: block;
    font-size: 3.4vw;
    font-weight: 300;
    line-height: 1.6;
    word-break: keep-all;
    padding-top: 4vw;
}
.footer_text2_m {
    display: block;
    padding-top: 6vw;
    color: #b8becc;
    font-size: 3vw;
    font-weight: 300;
    word-break: keep-all;
    padding-top: 4vw;
}
.footer_sns {
    position: inherit;
    float: left;
    padding: 8vw 0 12vw 0;
    width: 24vw;
    height: auto;
}
.footer_sns img {
    width: 10vw;
    height: auto;
}

}

