
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

    body { padding: 0; margin: 0}


/* 페이지 */
.title {
background: url('../img/terms_bg.jpg') no-repeat center center;
}





/* 약관 */
.terms {
    max-width: 1020px;
    padding: 80px 30px;
    margin: 0 auto;
    font-size: 12pt;
    text-align: justify;
}
.terms_title {
    text-align: center;
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 30px;
}
h4 {
    padding-top: 20px;
    font-weight: 700;
}
p {
    line-height: 1.6;
    font-weight: 300;
}
.terms_text {
    padding-top: 10px;
    font-weight: 400;
}
.terms_btn {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #3e434d;
    padding: 4px 10px 6px 10px;
    color: #3e434d;
    line-height: 1.4;
    border-radius: 4px;
}