@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* common */
body,
html {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-Medium,AppleSDGothicNeo-Medium,sans-serif;
  background-color: #fff;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 998;
  overflow: hidden;
}

.popup_layer {
  position: fixed;
  margin: 0 20px;
  left: 0;
  z-index: 999;
  background-color: #fff;
  overflow: hidden;
}

/* financialServices */
/* banner */
.fs_banner_wrap {
  position: relative;
}

.fs_banner_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.fs_banner_wrap .fs_banner_m {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.fs_banner_wrap .fs_banner_tw {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.fs_banner_wrap .fs_banner_tit {
  margin: 12px 0 10px;
  color: #03ffe6;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.fs_banner_wrap .fs_banner_t {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.3px;
}

/* menu list */
.fs_menu_list {
  position: relative;
  padding: 0 10px;
}

.fs_menu_list::after {
  content: "";
  display: block;
  clear: both;
}

.fs_menu_item {
  float: left;
  width: 33.3333%;
  text-align: center;
}

.fs_menu_item:nth-child(3n+1) {
  clear: both;
}

.fs_menu_item:nth-child(3n+2) .fs_sub_wrap {
  margin-left: calc(-100% - 10px);
}

.fs_menu_item:nth-child(3n+3) .fs_sub_wrap {
  margin-left: calc(-200% - 10px);
}

.fs_btn_menu {
  position: relative;
  padding: 20px 0;
  display: block;
}

.fs_btn_menu::after {
  display: none;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: #ebedf2;
  border-width: 8px 8px 9px 8px;
  border-color: #fff #fff #ebedf2 #fff;
  border-style: solid;
}

.fs_btn_menu .fs_btn_t {
  margin-top: 10px;
  display: block;
  color: #000;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.fs_btn_menu[aria-selected="true"]::after {
  display: block;
}

.fs_btn_menu[aria-selected="true"] + .fs_sub_wrap {
  display: block;
  max-height: 130px;
  opacity: 1;
}

.fs_btn_menu[aria-selected="true"] + .fs_sub_wrap .fs_link {
  opacity: 1;
}

.fs_sub_wrap {
  max-height: 0;
  opacity: 0;
  position: relative;
  margin-left: -10px;
  width: calc(300% + 20px);
  background-color: #ebedf2;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition-property: opacity, max-height;
}

.fs_sub_wrap .fs_sub_list {
  padding: 12px 20px 22px;
}

.fs_sub_wrap .fs_sub_list::after {
  content: "";
  display: block;
  clear: both;
}

.fs_sub_wrap .fs_sub_item {
  float: left;
  width: 50%;
}

.fs_sub_wrap .fs_link {
  position: relative;
  display: block;
  padding: 8px 0 8px 10px;
  color: #3d434e;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition-property: opacity;
}

.fs_sub_wrap .fs_link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #3d434e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* notice */
.fs_notice_wrap {
  padding: 30px 20px 24px;
  background-color: #f5f7fa;
}

.fs_notice_wrap .fs_notice_tit {
  padding: 0 8px 13px;
  color: #292c33;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

.fs_notice_wrap .fs_notice_item {
  position: relative;
  padding-left: 8px;
  margin-bottom: 6px;
  color: #3d434e;
  font-size: 12px;
  font-weight: 200;
  line-height: 18px;
}

.fs_notice_wrap .fs_notice_item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #3d434e;
}

.fs_notice_wrap .fs_notice_t {
  padding-left: 8px;
  color: #3d434e;
  font-size: 12px;
  font-weight: 200;
  line-height: 24px;
}

/* step list */
.fs_step_list {
  margin: 4px 4px 0;
}

.fs_step_list::after {
  content: "";
  display: block;
  clear: both;
}

.fs_step_item:nth-child(2) .step_num {
  background-image: url(../img/ico_step_2.svg);
}

.fs_step_item:nth-child(2) .fs_step_link[aria-current="true"] .step_num {
  background-image: url(../img/ico_step_2_on.svg);
}

.fs_step_item:nth-child(3) .step_num {
  background-image: url(../img/ico_step_3.svg);
}

.fs_step_item:nth-child(3) .fs_step_link[aria-current="true"] .step_num {
  background-image: url(../img/ico_step_3_on.svg);
}

.fs_step_item:nth-child(4) .step_num {
  background-image: url(../img/ico_step_4.svg);
}

.fs_step_item:nth-child(4) .fs_step_link[aria-current="true"] .step_num {
  background-image: url(../img/ico_step_4_on.svg);
}

.fs_step_item {
  width: 25%;
  float: left;
}

.fs_step_item.step_complete .step_num {
  background-image: url(../img/ico_num_check.svg);
}

.fs_step_item.step_complete .step_t {
  color: #28b2a4;
}

.fs_step_link {
  display: block;
  padding: 12px 12px 10px;
}

.fs_step_link .step_num {
  display: block;
  margin-bottom: 6px;
  width: 16px;
  height: 16px;
  color: transparent;
  overflow: hidden;
  background-image: url(../img/ico_step_1_on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.fs_step_link .step_t {
  color: #96a1b5;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.fs_step_link[aria-current="true"] {
  background-color: #28b2a4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.fs_step_link[aria-current="true"] .step_t {
  color: #fff;
}

/* step content */
.fs_service_wrap {
  padding: 0 20px 60px;
}

.fs_service_wrap .fs_service_tit {
  padding: 40px 0;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.fs_service_wrap .fs_service_notice {
  padding: 0 10px;
  margin-bottom: 40px;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 20px;
  text-align: justify;
}

.fs_service_wrap .fs_service_notice + .fs_service_content {
  padding: 0 10px;
}

.fs_service_content .fs_sc_tit {
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 16px;
  flex-shrink: 0;
}

.fs_service_content .ico_required {
  display: inline-block;
  color: transparent;
  margin: 5px 0 0 3px;
  width: 4px;
  height: 4px;
  background-color: #cc0022;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
}

.fs_sc_selform {
  position: relative;
  margin-bottom: 20px;
}

.fs_sc_selform::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 11px;
  height: 8px;
  background-image: url(../img/ico_select_arr.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.fs_sc_selform + .fs_sc_selform {
  margin: 0;
}

.fs_sc_select {
  position: relative;
  padding: 0 11px;
  width: 100%;
  height: 40px;
  color: #b8becc;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.2px;
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

.fs_sc_inputform {
  display: flex;
  align-items: flex-end;
  height: 40px;
  border-bottom: 1px solid #000;
}

.fs_sc_inputform + .fs_sc_inputform {
  margin-top: 20px;
}

.fs_sc_inputform .fs_input {
  padding: 0 8px;
  margin: 0;
  border: 0;
  flex: 1;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.2px;
  text-align: right;
}

.fs_sc_inputform .fs_input::placeholder {
  color: #b8becc;
}

.fs_sc_inputform .fs_input::-webkit-input-placeholder {
  color: #b8becc;
}

.fs_sc_inputform .unit {
  display: block;
  padding-right: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

.fs_sc_inputform .dot {
  display: block;
  width: 50px;
  height: 6px;
  background-image: url(../img/ico_input_dot.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 6px 16px -8px;
  flex-shrink: 0;
}

.fs_amount_kr {
  margin: 12px 0 34px;
  color: #00b3a1;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: right;
}

.fs_sc_subtit {
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.3px;
  text-align: center;
}

/* condition */
.fs_condition_wrap {
  padding: 16px 17px;
  margin-bottom: 20px;
  height: 200px;
  color: #3e434d;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 22px;
  text-align: justify;
  background-color: #f5f7fa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.fs_condition_wrap .fs_condition_tit {
  margin-bottom: 20px;
}

.fs_btn_confirm {
  padding: 0 16px;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-align: left;
  letter-spacing: -0.3px;
  background-color: #98a1b3;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.fs_btn_confirm::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/ico_select_check_l.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 15px 6px 0 0;
}

.fs_btn_confirm[aria-pressed="true"] {
  background-color: #3e434d;
}

/* condition btn */
.fs_sc_condition {
  padding-top: 60px;
}

.fs_condi {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.fs_condi .fs_check_btn {
  padding: 0 0 0 15px;
  height: 44px;
  color: #98a1b3;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.3px;
  flex: 1;
  text-align: left;
  border: 0;
  background-color: transparent;
}

.fs_condi .fs_check_btn::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 14px;
  vertical-align: top;
  margin: 3px 6px 0;
  background-image: url(../img/ico_select_uncheck.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.fs_condi .fs_check_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #b8becc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.fs_condi .fs_check_btn[aria-selected="true"] {
  color: #000;
}

.fs_condi .fs_check_btn[aria-selected="true"]::before {
  background-image: url(../img/ico_select_check.svg);
}

.fs_condi .fs_check_btn[aria-selected="true"]::after {
  border-color: #000;
}

.fs_condi .fs_check_btn[aria-selected="true"] + .fs_condition_link {
  color: #000;
}

.fs_condi .fs_condition_link {
  display: block;
  padding: 0 15px;
  color: #98a1b3;
  font-size: 12px;
  font-weight: 300;
  line-height: 44px;
  text-decoration: underline;
}

.fs_certification_wrap {
  display: flex;
  margin-bottom: 20px;
}

.fs_certification_wrap .fs_sc_selform {
  margin: 0 20px 0 0;
  width: 80px;
}

.fs_certification_wrap .fs_sc_inputform {
  flex: 1;
}

.fs_certification_wrap .fs_btn_certification {
  margin-left: 20px;
  min-width: 100px;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 38px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-sizing: border-box;
}

.fs_certification_wrap + .fs_certification_wrap .fs_input {
  text-align: left;
}

.fs_btn_check {
  margin-bottom: 64px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 46px;
  background-color: #3e434d;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* service btn*/
.fs_btn_wrap {
  display: flex;
  padding: 20px 10px;
}

.fs_btn_wrap [class^="fs_btn"] {
  margin: 0 10px;
  display: block;
  flex: 1;
  color: #3d434e;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.3px;
  text-align: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #fff;
}

.fs_btn_wrap .fs_btn_prev {
  line-height: 48px;
  border: 1px solid #000;
}

.fs_btn_wrap .fs_btn_next {
  color: #fff;
  line-height: 50px;
  background-color: #28b2a4;
}

.fs_btn_wrap .fs_btn_disabled {
  background-color: #dadee6;
}

/* result */
.fs_result_title {
  padding: 30px 0 40px;
  border: 1px solid #dadee6;
}

.fs_result_title .fs_result_t {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.4px;
  text-align: center;
}

.fs_result_title .fs_result_t .fs_st {
  color: #28b2a4;
}

.fs_result_wrap {
  padding: 35px 30px 50px;
}

.fs_result_wrap .fs_result_item {
  display: flex;
  margin-bottom: 16px;
}

.fs_result_wrap .fs_result_tit {
  position: relative;
  padding-left: 10px;
  margin-right: 16px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.fs_result_wrap .fs_result_tit::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fs_result_wrap .fs_result_desc {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.3px;
  flex: 1;
}

.fs_fixbtn_wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.fs_fixbtn_wrap .fs_btn_submit {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  letter-spacing: -0.3px;
  background-color: #28b2a4;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* popup layer */
.fs_ly_condition {
  padding: 30px 20px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.fs_ly_condition .popup_header {
  padding-bottom: 30px;
}

.fs_ly_condition .popup_tit {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.4px;
  text-align: center;
}

.fs_ly_condition .popup_condition_wrap {
  margin-bottom: 20px;
  padding: 16px 15px;
  height: 390px;
  overflow-y: scroll;
  background-color: #f5f7fa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.fs_ly_condition .pc_tit {
  margin-bottom: 20px;
  color: #3e434d;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.fs_ly_condition .pc_t {
  margin-bottom: 20px;
  color: #3e434d;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.fs_ly_condition .popup_btn_close {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  border: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #28b2a4;
}
